@CHARSET "ISO-8859-1";
body {
	background-color:#ECEAE7;
	padding: 0px 0px;
	margin:0px 0px;
	font-family: arial,verdana,helvetica,sans-serif; 
	color:#373433;
}

.Div_Clear {
	clear:both;
}

.div_page{
	width:1000px;
	min-height:100%;	
	margin:0 auto;
	padding:0px 50px 0px 50px;
	background: -moz-linear-gradient(left, #ECEAE7 0%,#ADACA9 50px, #ECEAE7 50px, #ECEAE7 950px,#ADACA9 950px, #ECEAE7 1000px);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ECEAE7), color-stop(100%,#ADACA9));
	background: -webkit-linear-gradient(left,#ECEAE7 0%,#ADACA9 50px, #ECEAE7 50px, #ECEAE7 950px,#ADACA9 950px, #ECEAE7 1000px);
	background: -o-linear-gradient(left, #ECEAE7 0%,#ADACA9 50px, #ECEAE7 50px, #ECEAE7 950px,#ADACA9 950px, #ECEAE7 1000px);
	background: -ms-linear-gradient(left, #ECEAE7 0%,#ADACA9 50px, #ECEAE7 50px, #ECEAE7 950px,#ADACA9 950px, #ECEAE7 1000px );
	background: linear-gradient(left, #ECEAE7 0%,#ADACA9 50px, #ECEAE7 50px, #ECEAE7 950px,#ADACA9 950px, #ECEAE7 1000px);
}

.div_logo, .div_logo img {
	float: left;
}

.div_logo h1 {
	float: right;
	font-size: 24px;
	margin-top: 36px;
	margin-left: 10px;
}

.div_logo small {
	font-size: 15px;
	color: #777777;
}

.div_logo p {
	font-size: 12px;
	margin: 8px 0px 0px 0px;
}

.div_HeaderRight {
	float:right;
	margin-right: 114px;
	margin-top: 10px;
}

.div_HeaderTitleright {
	float:right;
	font-size:14px;
	margin: 10px 110px 0 0;
}

.div_HeaderTitleright a{
	color:#373433;
	text-decoration: none;
}

.div_HeaderTitleright a:hover{
	text-decoration: underline;
}

.div_Menu {
	background-color:#373433;
	height:40px;
	width:900px;
}

.div_Menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.div_Menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

.div_Menu ul li a {
	float: left;
	display: block;
	width: 122px;
	height: 27px;
	padding: 13px 15px 0 0;
	margin: 0 1px 0 0 ;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;	
	outline: none;
	border: none;
}

.div_Menu ul li a:hover {
	background-color:#000000;
	color: #FFFFFF;	
}

.div_MainTypePage {
	width:900px;
	padding:0 10px 50px 10px;
	min-height:500px;
}

.div_MainTypePage td{
	font-size:14px;
}

.div_Anmeldung {
	margin:100px 0 0 200px;
	
}

.div_PWDForgot {
	margin:100px 0 0 200px;
	font-size:14px;
	
}


.Title_Middle{width:600px;margin:25px auto 10px auto;}

.div_Schicht {
	margin:20px auto;
	width:600px;
	min-height:100px;
    background: #FFFFFF; /* Old browsers */
	border-radius: 5px;
	border:2px solid #7F7F7F;
	padding-bottom:20px;
}

.div_Schicht form {
	margin-bottom:0px;
}

.div_Schicht input {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
background:#898989;
border:0px;
padding:5px 15px;
color:#FFFFFF;
}

.div_Schicht input:hover {
cursor:pointer;
}


.div_Schichtrows {
	background:#FFFFFF;
	position:relative;
}


.div_TeilnehmerInfo{
	position:absolute;
	left:102%;
	top:0px;
	min-height:40px;
	width:150px;
	border:1px solid #7F7F7F;	
	border-radius:7px;
}

.Pfeil{position:absolute;width:20px;height:20px;top:30%;
           background:#fff;border-left:1px solid  #7F7F7F;border-bottom:1px solid  #7F7F7F;
            left:-10px;border-radius:5px;
            -webkit-transform: matrix(0.6, 0.800, -0.6, 0.800, 0, 0);
            -o-transform: matrix(0.6, 0.800, -0.6, 0.800, 0, 0);
            -moz-transform: matrix(0.6, 0.800, -0.6, 0.800, 0, 0);  
            transform: matrix(0.6, 0.800, -0.6, 0.800, 0, 0);
            z-index:1;

    }


.arrow_box {
	position: absolute;
	background: #ffffff;
	border: 2px solid #7F7F7F;
	left:102%;
	top:0px;
	min-height:40px;
	width:250px;
	padding:6px;
	display:none;
	text-align:left;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(127, 127, 127, 0);
	border-right-color: #7F7F7F;
	border-width: 13px;
	margin-top: -13px;
}

.div_Schicht_Time {
	float:left;
	width:114px;
	background:#FFFFFF;
	border-top:2px solid #7F7F7F;
	padding-top:7px;
	padding-left:6px;
}

.div_Schicht_Teilnehmer {
	float:right;
	width:478px;
	background:#FFFFFF;
	border-top:2px solid #7F7F7F;
	border-left:2px solid #7F7F7F;
}

.div_Schicht_Footer	{
	border-top:2px solid #7F7F7F;
	width:100%;
}

.TableSchicht {	
	border-color:#7F7F7F;
	border:0px;
	border-style: solid;
	width:604px;
	margin-left:-1px;
}


.td_Schichten {
	border-color:#7F7F7F;
	border:2px;
	border-style: solid;
	width:auto;	
}


.div_Schicht td{
	font-size:16px;
	padding:6px 5px;
}

.div_Schicht_Header {
	width:590px;
	height:50px;
	padding:7px 5px 0 5px;
	border-bottom-color:#7F7F7F;
	border-bottom:0px;
	border-bottom-style: solid;
	color:#5F497A;
	font-size:18px;
}

.div_Schicht_Header_left{
	float:left;
	width:200px;
}

.div_Schicht_Header_right{
	float:right;
}

.div_Warning {
	margin:20px 0 0 15px;
}

.div_Legende {
	margin:0px auto;;
}

.div_Legende table{
	margin:0px auto;;
}

.div_Mail {
	margin:20px 0 0 15px;
}

td.Teilnehmer {
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

td.Teilnehmer_Status0 {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #FFC000;
width:180px;
}

td.Teilnehmer_Status0_Legende {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #FFC000;
width:40px;
}


td.Teilnehmer_Status2 {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #92D050;
width:180px;
}

td.Teilnehmer_Status2_Legende {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #92D050;
width:40px;
}

td.Teilnehmer_Schichtleiter {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #92D050;
border:2px solid #0070C0;
width:180px;
}

td.Teilnehmer_Schichtleiter_Legende {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
padding:5px 0px;
text-align:center;
background-color: #92D050;
border:2px solid #0070C0;
width:40px;
}

td.otherTeilnehmer_Schichtleiter {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
text-align:center;
padding:5px 0px;
border:2px solid #0070C0;
width:180px;
}

td.otherTeilnehmer {
width:180px;
text-align:center;
}




td.Legende {
font-size:12px;
padding:0 5px 0 0;
}


td.News {	
	height:52px;
	text-align:center;
	vertical-align:middle;
	font-size:15px;
	padding: 0 0 5px 0;
}

.NewsHeader a{
	color:#5F497A;
}

.div_NewsItem {
	margin-left:30px;
	margin-bottom:40px;
	width:270px;
	border:0px solid #000;
	float:left;
}


.div_NewsItem_innerleft {
	float:left;
	padding:0px 3px;
	min-height:50px;
	vertical-align:middle;
}

.div_NewsItem_innerleft p{
	padding-top:15px;
}

.div_NewsItem_innerleft a{
	color:#5F497A;
}


.div_News {
	vertical-align:middle;
	height:49px;
	border-radius: 5px;
	border-color:#000000;
	border:0px;
	border-style: solid;
	color:#373433;
	font-size:15px;
	text-decoration: none;	
}

.div_News_left {
	float:left;
	padding:15px 5px 0 5px;
	vertical-align:middle;
}

.div_News_right {
	float:right;
	padding:5px 5px 0 0;
	vertical-align:middle;
}

td.Newsold {
	height:162px;
	width:118px;	
	background-image:url(../images/pdf.png);
	text-align:center;
	vertical-align:bottom;
	color:#FFFFFF;
	font-size:15px;
	padding: 0 0 5px 0;
}



.News {
	color:#373433;
	font-size:15px;
}

.News a{
	color:#5F497A;
	font-size:15px;
	text-decoration: none;
}

.News a:hover{
	color:#5F497A;
	font-size:15px;
	text-decoration: underline;
}

td.NewsPlace {
	width:40px;
}